# Dataset preparation
Dataset source:
[link](https://www.eea.europa.eu/data-and-maps/data/aqereporting-9)

Dataset will combine data of PM10, PM2.5, CO, C6H6, SO2 and NO2 measurements in years 2018-2020 (measured in Bratislava, Slovakia).

In [57]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

Start by combining data of respective years and later appending them together into one csv file. First is data from 2018.

In [58]:
df_2018 = pd.read_csv('raw_data/2018/SK_5_27208_2018_timeseries_PM10.csv')
df_2018.head()

,Countrycode,Namespace,AirQualityNetwork,AirQualityStation,AirQualityStationEoICode,SamplingPoint,SamplingProcess,Sample,AirPollutant,AirPollutantCode,AveragingTime,Concentration,UnitOfMeasurement,DatetimeBegin,DatetimeEnd,Validity,Verification
0,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,38.942,µg/m3,2018-01-01 00:00:00 +01:00,2018-01-01 01:00:00 +01:00,1,1
1,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,52.889,µg/m3,2018-01-01 01:00:00 +01:00,2018-01-01 02:00:00 +01:00,1,1
2,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,37.007,µg/m3,2018-01-01 02:00:00 +01:00,2018-01-01 03:00:00 +01:00,1,1
3,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,35.837,µg/m3,2018-01-01 03:00:00 +01:00,2018-01-01 04:00:00 +01:00,1,1
4,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,34.408,µg/m3,2018-01-01 04:00:00 +01:00,2018-01-01 05:00:00 +01:00,1,1

In [59]:
df_2018.rename(columns={'Concentration': 'PM10 Concentration', 'UnitOfMeasurement': 'PM10 Unit'}, inplace=True)

In [60]:
df_pm2_5_2018 = pd.read_csv('raw_data/2018/SK_6001_35900_2018_timeseries_PM25.csv')
df_pm2_5_2018.rename(columns={'Concentration': 'PM2.5 Concentration', 'UnitOfMeasurement': 'PM2.5 Unit'}, inplace=True)
df_pm2_5_2018 = df_pm2_5_2018[['DatetimeBegin', 'DatetimeEnd', 'PM2.5 Concentration', 'PM2.5 Unit']]
df_2018 = pd.merge(df_2018, df_pm2_5_2018, how='outer')

In [61]:
df_co_2018 = pd.read_csv('raw_data/2018/SK_10_27210_2018_timeseries_CO.csv')
df_co_2018.rename(columns={'Concentration': 'CO Concentration', 'UnitOfMeasurement': 'CO Unit'}, inplace=True)
df_co_2018 = df_co_2018[['DatetimeBegin', 'DatetimeEnd', 'CO Concentration', 'CO Unit']]
df_2018 = pd.merge(df_2018, df_co_2018, how='outer')

In [62]:
df_no2_2018 = pd.read_csv('raw_data/2018/SK_8_27323_2018_timeseries_NO2.csv')
df_no2_2018.rename(columns={'Concentration': 'NO2 Concentration', 'UnitOfMeasurement': 'NO2 Unit'}, inplace=True)
df_no2_2018 = df_no2_2018[['DatetimeBegin', 'DatetimeEnd', 'NO2 Concentration', 'NO2 Unit']]
df_2018 = pd.merge(df_2018, df_no2_2018, how='outer')

In [63]:
df_so2_2018 = pd.read_csv('raw_data/2018/SK_1_27236_2018_timeseries_SO2.csv')
df_so2_2018.rename(columns={'Concentration': 'SO2 Concentration', 'UnitOfMeasurement': 'SO2 Unit'}, inplace=True)
df_so2_2018 = df_so2_2018[['DatetimeBegin', 'DatetimeEnd', 'SO2 Concentration', 'SO2 Unit']]
df_2018 = pd.merge(df_2018, df_so2_2018, how='outer')

In [64]:
df_c6h6_2018 = pd.read_csv('raw_data/2018/SK_20_27277_2018_timeseries_C6H6.csv')
df_c6h6_2018.rename(columns={'Concentration': 'C6H6 Concentration', 'UnitOfMeasurement': 'C6H6 Unit'}, inplace=True)
df_c6h6_2018 = df_c6h6_2018[['DatetimeBegin', 'DatetimeEnd', 'C6H6 Concentration', 'C6H6 Unit']]
df_2018 = pd.merge(df_2018, df_c6h6_2018, how='outer')

In [65]:
df_2018.drop(columns=['Countrycode', 'Namespace', 'AirQualityNetwork', 'AirQualityStation', 'SamplingPoint', 'SamplingProcess', 'Sample', 'AveragingTime', 'AirPollutantCode', 'AirPollutant', 'AirQualityStationEoICode', 'Validity', 'Verification'], inplace=True)
df_2018

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit,SO2 Concentration,SO2 Unit,C6H6 Concentration,C6H6 Unit
0,38.942,µg/m3,2018-01-01 00:00:00 +01:00,2018-01-01 01:00:00 +01:00,46.409,µg/m3,0.46168,mg/m3,21.6056,µg/m3,5.36549,µg/m3,1.10825,µg/m3
1,52.889,µg/m3,2018-01-01 01:00:00 +01:00,2018-01-01 02:00:00 +01:00,53.467,µg/m3,0.43268,mg/m3,21.1869,µg/m3,NaN,NaN,0.93600,µg/m3
2,37.007,µg/m3,2018-01-01 02:00:00 +01:00,2018-01-01 03:00:00 +01:00,37.668,µg/m3,0.39208,mg/m3,16.2845,µg/m3,5.14364,µg/m3,0.69225,µg/m3
3,35.837,µg/m3,2018-01-01 03:00:00 +01:00,2018-01-01 04:00:00 +01:00,37.333,µg/m3,0.38628,mg/m3,17.3246,µg/m3,5.16466,µg/m3,0.59800,µg/m3
4,34.408,µg/m3,2018-01-01 04:00:00 +01:00,2018-01-01 05:00:00 +01:00,29.130,µg/m3,0.36308,mg/m3,15.5656,µg/m3,5.23302,µg/m3,0.57200,µg/m3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,NaN,NaN,2018-02-23 22:00:00 +01:00,2018-02-23 23:00:00 +01:00,NaN,NaN,0.65656,mg/m3,41.8021,µg/m3,NaN,NaN,2.76250,µg/m3
8756,NaN,NaN,2018-02-23 23:00:00 +01:00,2018-02-24 00:00:00 +01:00,NaN,NaN,0.58928,mg/m3,28.3970,µg/m3,NaN,NaN,2.71375,µg/m3
8757,NaN,NaN,2018-02-24 00:00:00 +01:00,2018-02-24 01:00:00 +01:00,NaN,NaN,0.53476,mg/m3,24.3512,µg/m3,NaN,NaN,2.58700,µg/m3
8758,NaN,NaN,2018-02-24 01:00:00 +01:00,2018-02-24 02:00:00 +01:00,NaN,NaN,0.53012,mg/m3,19.0626,µg/m3,NaN,NaN,2.45700,µg/m3
8759,NaN,NaN,2018-02-24 02:00:00 +01:00,2018-02-24 03:00:00 +01:00,NaN,NaN,0.53708,mg/m3,18.0627,µg/m3,NaN,NaN,2.34650,µg/m3

Next is combining data from year 2019.

In [66]:
df_2019 = pd.read_csv('raw_data/2019/SK_5_27294_2019_timeseries_PM10.csv')
df_2019.rename(columns={'Concentration': 'PM10 Concentration', 'UnitOfMeasurement': 'PM10 Unit'}, inplace=True)

In [67]:
df_pm2_5_2019 = pd.read_csv('raw_data/2019/SK_6001_35900_2019_timeseries_PM25.csv')
df_pm2_5_2019.rename(columns={'Concentration': 'PM2.5 Concentration', 'UnitOfMeasurement': 'PM2.5 Unit'}, inplace=True)
df_pm2_5_2019 = df_pm2_5_2019[['DatetimeBegin', 'DatetimeEnd', 'PM2.5 Concentration', 'PM2.5 Unit']]
df_2019 = pd.merge(df_2019, df_pm2_5_2019, how='outer')

In [68]:
df_co_2019 = pd.read_csv('raw_data/2019/SK_10_27210_2019_timeseries_CO.csv')
df_co_2019.rename(columns={'Concentration': 'CO Concentration', 'UnitOfMeasurement': 'CO Unit'}, inplace=True)
df_co_2019 = df_co_2019[['DatetimeBegin', 'DatetimeEnd', 'CO Concentration', 'CO Unit']]
df_2019 = pd.merge(df_2019, df_co_2019, how='outer')

In [69]:
df_no2_2019 = pd.read_csv('raw_data/2019/SK_8_27323_2019_timeseries_NO2.csv')
df_no2_2019.rename(columns={'Concentration': 'NO2 Concentration', 'UnitOfMeasurement': 'NO2 Unit'}, inplace=True)
df_no2_2019 = df_no2_2019[['DatetimeBegin', 'DatetimeEnd', 'NO2 Concentration', 'NO2 Unit']]
df_2019 = pd.merge(df_2019, df_no2_2019, how='outer')

In [70]:
df_so2_2019 = pd.read_csv('raw_data/2019/SK_1_27236_2019_timeseries_SO2.csv')
df_so2_2019.rename(columns={'Concentration': 'SO2 Concentration', 'UnitOfMeasurement': 'SO2 Unit'}, inplace=True)
df_so2_2019 = df_so2_2019[['DatetimeBegin', 'DatetimeEnd', 'SO2 Concentration', 'SO2 Unit']]
df_2019 = pd.merge(df_2019, df_so2_2019, how='outer')

In [71]:
df_c6h6_2019 = pd.read_csv('raw_data/2019/SK_20_27277_2019_timeseries_C6H6.csv')
df_c6h6_2019.rename(columns={'Concentration': 'C6H6 Concentration', 'UnitOfMeasurement': 'C6H6 Unit'}, inplace=True)
df_c6h6_2019 = df_c6h6_2019[['DatetimeBegin', 'DatetimeEnd', 'C6H6 Concentration', 'C6H6 Unit']]
df_2019 = pd.merge(df_2019, df_c6h6_2019, how='outer')

In [72]:
df_2019.drop(columns=['Countrycode', 'Namespace', 'AirQualityNetwork', 'AirQualityStation', 'SamplingPoint', 'SamplingProcess', 'Sample', 'AveragingTime', 'AirPollutantCode', 'AirPollutant', 'AirQualityStationEoICode', 'Validity', 'Verification'], inplace=True)
df_2019

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit,SO2 Concentration,SO2 Unit,C6H6 Concentration,C6H6 Unit
0,116.610,µg/m3,2019-01-01 00:00:00 +01:00,2019-01-01 01:00:00 +01:00,106.190,µg/m3,0.374680,mg/m3,45.9664,µg/m3,7.70150,µg/m3,0.513500,µg/m3
1,126.730,µg/m3,2019-01-01 01:00:00 +01:00,2019-01-01 02:00:00 +01:00,108.090,µg/m3,0.406000,mg/m3,45.3469,µg/m3,NaN,NaN,0.601250,µg/m3
2,54.715,µg/m3,2019-01-01 02:00:00 +01:00,2019-01-01 03:00:00 +01:00,45.893,µg/m3,0.450080,mg/m3,46.4387,µg/m3,7.61398,µg/m3,0.637000,µg/m3
3,40.223,µg/m3,2019-01-01 03:00:00 +01:00,2019-01-01 04:00:00 +01:00,37.377,µg/m3,0.481400,mg/m3,51.4309,µg/m3,7.90020,µg/m3,0.724750,µg/m3
4,33.288,µg/m3,2019-01-01 04:00:00 +01:00,2019-01-01 05:00:00 +01:00,27.394,µg/m3,0.488360,mg/m3,44.0487,µg/m3,5.86956,µg/m3,0.630500,µg/m3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8753,NaN,NaN,2019-12-11 18:00:00 +01:00,2019-12-11 19:00:00 +01:00,NaN,NaN,0.905423,mg/m3,108.9710,µg/m3,NaN,NaN,2.016120,µg/m3
8754,NaN,NaN,2019-12-08 22:00:00 +01:00,2019-12-08 23:00:00 +01:00,NaN,NaN,NaN,NaN,28.0949,µg/m3,NaN,NaN,1.655550,µg/m3
8755,NaN,NaN,2019-12-10 00:00:00 +01:00,2019-12-10 01:00:00 +01:00,NaN,NaN,NaN,NaN,29.0318,µg/m3,NaN,NaN,2.209350,µg/m3
8756,NaN,NaN,2019-12-11 02:00:00 +01:00,2019-12-11 03:00:00 +01:00,NaN,NaN,NaN,NaN,38.5257,µg/m3,NaN,NaN,0.426311,µg/m3
8757,NaN,NaN,2019-09-02 16:00:00 +01:00,2019-09-02 17:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,6.77582,µg/m3,NaN,NaN

Lastly we combine data from year 2020.

In [73]:
df_2020 = pd.read_csv('raw_data/2020/SK_5_27294_2020_timeseries_PM10_1.csv')
df_2020.rename(columns={'Concentration': 'PM10 Concentration', 'UnitOfMeasurement': 'PM10 Unit'}, inplace=True)

In [74]:
df_pm2_5_2020 = pd.read_csv('raw_data/2020/SK_6001_35900_2020_timeseries_PM25_1.csv')
df_pm2_5_2020.rename(columns={'Concentration': 'PM2.5 Concentration', 'UnitOfMeasurement': 'PM2.5 Unit'}, inplace=True)
df_pm2_5_2020 = df_pm2_5_2020[['DatetimeBegin', 'DatetimeEnd', 'PM2.5 Concentration', 'PM2.5 Unit']]
df_2020 = pd.merge(df_2020, df_pm2_5_2020, how='outer')

In [75]:
df_co_2020 = pd.read_csv('raw_data/2020/SK_10_27210_2020_timeseries_CO.csv')
df_co_2020.rename(columns={'Concentration': 'CO Concentration', 'UnitOfMeasurement': 'CO Unit'}, inplace=True)
df_co_2020 = df_co_2020[['DatetimeBegin', 'DatetimeEnd', 'CO Concentration', 'CO Unit']]
df_2020 = pd.merge(df_2020, df_co_2020, how='outer')

In [76]:
df_no2_2020 = pd.read_csv('raw_data/2020/SK_8_27303_2020_timeseries_NO2_1.csv')
df_no2_2020.rename(columns={'Concentration': 'NO2 Concentration', 'UnitOfMeasurement': 'NO2 Unit'}, inplace=True)
df_no2_2020 = df_no2_2020[['DatetimeBegin', 'NO2 Concentration', 'NO2 Unit']]
df_2020 = pd.merge(df_2020, df_no2_2020, how='outer')

In [77]:
df_so2_2020 = pd.read_csv('raw_data/2020/SK_1_27236_2020_timeseries_SO2.csv')
df_so2_2020.rename(columns={'Concentration': 'SO2 Concentration', 'UnitOfMeasurement': 'SO2 Unit'}, inplace=True)
df_so2_2020 = df_so2_2020[['DatetimeBegin', 'DatetimeEnd', 'SO2 Concentration', 'SO2 Unit']]
df_2020 = pd.merge(df_2020, df_so2_2020, how='outer')

In [78]:
df_c6h6_2020 = pd.read_csv('raw_data/2020/SK_20_27277_2020_timeseries_C6H6.csv')
df_c6h6_2020.rename(columns={'Concentration': 'C6H6 Concentration', 'UnitOfMeasurement': 'C6H6 Unit'}, inplace=True)
df_c6h6_2020 = df_c6h6_2020[['DatetimeBegin', 'DatetimeEnd', 'C6H6 Concentration', 'C6H6 Unit']]
df_2020 = pd.merge(df_2020, df_c6h6_2020, how='outer')

In [79]:
df_2020.drop(columns=['Countrycode', 'Namespace', 'AirQualityNetwork', 'AirQualityStation', 'SamplingPoint', 'SamplingProcess', 'Sample', 'AveragingTime', 'AirPollutantCode', 'AirPollutant', 'AirQualityStationEoICode', 'Validity', 'Verification'], inplace=True)
df_2020

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit,SO2 Concentration,SO2 Unit,C6H6 Concentration,C6H6 Unit
0,16.070,µg/m3,2020-01-01 00:00:00 +01:00,2020-01-01 01:00:00 +01:00,14.328,µg/m3,0.238960,mg/m3,23.4564,µg/m3,-0.148960,µg/m3,0.409825,µg/m3
1,120.150,µg/m3,2020-01-01 01:00:00 +01:00,2020-01-01 02:00:00 +01:00,118.520,µg/m3,0.231304,mg/m3,23.4411,µg/m3,3.044640,µg/m3,0.386100,µg/m3
2,52.513,µg/m3,2020-01-01 02:00:00 +01:00,2020-01-01 03:00:00 +01:00,45.789,µg/m3,0.250328,mg/m3,27.0777,µg/m3,1.219340,µg/m3,0.385775,µg/m3
3,40.058,µg/m3,2020-01-01 03:00:00 +01:00,2020-01-01 04:00:00 +01:00,38.463,µg/m3,0.259724,mg/m3,30.7660,µg/m3,1.514070,µg/m3,0.381550,µg/m3
4,26.224,µg/m3,2020-01-01 04:00:00 +01:00,2020-01-01 05:00:00 +01:00,18.477,µg/m3,0.256708,mg/m3,17.0418,µg/m3,1.529500,µg/m3,0.366275,µg/m3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8782,NaN,NaN,2020-10-19 15:00:00 +01:00,2020-10-19 16:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,0.637868,µg/m3,0.628225,µg/m3
8783,NaN,NaN,2020-10-20 17:00:00 +01:00,2020-10-20 18:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,0.841092,µg/m3,1.125800,µg/m3
8784,NaN,NaN,2020-03-29 22:00:00 +01:00,2020-03-29 23:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.516425,µg/m3
8785,NaN,NaN,2020-05-15 12:00:00 +01:00,2020-05-15 13:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.929500,µg/m3
8786,NaN,NaN,2020-12-17 03:00:00 +01:00,2020-12-17 04:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.086470,µg/m3

In [80]:
df_2020[df_2020.isna().any(axis=1)]

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit,SO2 Concentration,SO2 Unit,C6H6 Concentration,C6H6 Unit
6,18.454,µg/m3,2020-01-01 06:00:00 +01:00,2020-01-01 07:00:00 +01:00,12.475,µg/m3,0.243600,mg/m3,NaN,NaN,1.374420,µg/m3,0.321750,µg/m3
7,15.887,µg/m3,2020-01-01 07:00:00 +01:00,2020-01-01 08:00:00 +01:00,11.521,µg/m3,0.233972,mg/m3,17.4801,µg/m3,NaN,NaN,0.282100,µg/m3
18,25.368,µg/m3,2020-01-01 18:00:00 +01:00,2020-01-01 19:00:00 +01:00,19.686,µg/m3,NaN,NaN,30.6551,µg/m3,0.868224,µg/m3,0.766025,µg/m3
31,26.992,µg/m3,2020-01-02 07:00:00 +01:00,2020-01-02 08:00:00 +01:00,26.924,µg/m3,0.531280,mg/m3,NaN,NaN,1.074370,µg/m3,1.216480,µg/m3
32,28.966,µg/m3,2020-01-02 08:00:00 +01:00,2020-01-02 09:00:00 +01:00,27.620,µg/m3,0.615960,mg/m3,45.9014,µg/m3,NaN,NaN,1.611020,µg/m3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8782,NaN,NaN,2020-10-19 15:00:00 +01:00,2020-10-19 16:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,0.637868,µg/m3,0.628225,µg/m3
8783,NaN,NaN,2020-10-20 17:00:00 +01:00,2020-10-20 18:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,0.841092,µg/m3,1.125800,µg/m3
8784,NaN,NaN,2020-03-29 22:00:00 +01:00,2020-03-29 23:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.516425,µg/m3
8785,NaN,NaN,2020-05-15 12:00:00 +01:00,2020-05-15 13:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.929500,µg/m3
8786,NaN,NaN,2020-12-17 03:00:00 +01:00,2020-12-17 04:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.086470,µg/m3

Next is combinatin of the three

In [81]:
df = pd.merge(df_2018, df_2019, how='outer')
df = pd.merge(df, df_2020, how='outer')
df

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit,SO2 Concentration,SO2 Unit,C6H6 Concentration,C6H6 Unit
0,38.942,µg/m3,2018-01-01 00:00:00 +01:00,2018-01-01 01:00:00 +01:00,46.409,µg/m3,0.46168,mg/m3,21.6056,µg/m3,5.365490,µg/m3,1.108250,µg/m3
1,52.889,µg/m3,2018-01-01 01:00:00 +01:00,2018-01-01 02:00:00 +01:00,53.467,µg/m3,0.43268,mg/m3,21.1869,µg/m3,NaN,NaN,0.936000,µg/m3
2,37.007,µg/m3,2018-01-01 02:00:00 +01:00,2018-01-01 03:00:00 +01:00,37.668,µg/m3,0.39208,mg/m3,16.2845,µg/m3,5.143640,µg/m3,0.692250,µg/m3
3,35.837,µg/m3,2018-01-01 03:00:00 +01:00,2018-01-01 04:00:00 +01:00,37.333,µg/m3,0.38628,mg/m3,17.3246,µg/m3,5.164660,µg/m3,0.598000,µg/m3
4,34.408,µg/m3,2018-01-01 04:00:00 +01:00,2018-01-01 05:00:00 +01:00,29.130,µg/m3,0.36308,mg/m3,15.5656,µg/m3,5.233020,µg/m3,0.572000,µg/m3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26300,NaN,NaN,2020-10-19 15:00:00 +01:00,2020-10-19 16:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,0.637868,µg/m3,0.628225,µg/m3
26301,NaN,NaN,2020-10-20 17:00:00 +01:00,2020-10-20 18:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,0.841092,µg/m3,1.125800,µg/m3
26302,NaN,NaN,2020-03-29 22:00:00 +01:00,2020-03-29 23:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.516425,µg/m3
26303,NaN,NaN,2020-05-15 12:00:00 +01:00,2020-05-15 13:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.929500,µg/m3
26304,NaN,NaN,2020-12-17 03:00:00 +01:00,2020-12-17 04:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.086470,µg/m3

In [82]:
df.sort_values('DatetimeBegin', ascending=True)
df

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit,SO2 Concentration,SO2 Unit,C6H6 Concentration,C6H6 Unit
0,38.942,µg/m3,2018-01-01 00:00:00 +01:00,2018-01-01 01:00:00 +01:00,46.409,µg/m3,0.46168,mg/m3,21.6056,µg/m3,5.365490,µg/m3,1.108250,µg/m3
1,52.889,µg/m3,2018-01-01 01:00:00 +01:00,2018-01-01 02:00:00 +01:00,53.467,µg/m3,0.43268,mg/m3,21.1869,µg/m3,NaN,NaN,0.936000,µg/m3
2,37.007,µg/m3,2018-01-01 02:00:00 +01:00,2018-01-01 03:00:00 +01:00,37.668,µg/m3,0.39208,mg/m3,16.2845,µg/m3,5.143640,µg/m3,0.692250,µg/m3
3,35.837,µg/m3,2018-01-01 03:00:00 +01:00,2018-01-01 04:00:00 +01:00,37.333,µg/m3,0.38628,mg/m3,17.3246,µg/m3,5.164660,µg/m3,0.598000,µg/m3
4,34.408,µg/m3,2018-01-01 04:00:00 +01:00,2018-01-01 05:00:00 +01:00,29.130,µg/m3,0.36308,mg/m3,15.5656,µg/m3,5.233020,µg/m3,0.572000,µg/m3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26300,NaN,NaN,2020-10-19 15:00:00 +01:00,2020-10-19 16:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,0.637868,µg/m3,0.628225,µg/m3
26301,NaN,NaN,2020-10-20 17:00:00 +01:00,2020-10-20 18:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,0.841092,µg/m3,1.125800,µg/m3
26302,NaN,NaN,2020-03-29 22:00:00 +01:00,2020-03-29 23:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.516425,µg/m3
26303,NaN,NaN,2020-05-15 12:00:00 +01:00,2020-05-15 13:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.929500,µg/m3
26304,NaN,NaN,2020-12-17 03:00:00 +01:00,2020-12-17 04:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.086470,µg/m3

In [83]:
df.describe()

,PM10 Concentration,PM2.5 Concentration,CO Concentration,NO2 Concentration,SO2 Concentration,C6H6 Concentration
count,25956.000000,25728.000000,25640.000000,25650.000000,25155.000000,25727.000000
mean,22.392300,14.541749,0.384108,31.520344,4.601444,1.008329
std,14.358808,12.478324,0.165666,20.845578,9.877013,1.376376
min,0.002600,0.012200,0.041760,1.100930,-3.835720,0.000975
25%,12.415750,5.852625,0.265060,15.093450,0.875406,0.331500
50%,19.768500,10.847500,0.344636,27.236400,3.309310,0.674375
75%,28.975500,19.669000,0.467016,43.630850,7.006040,1.496950
max,353.120000,118.520000,3.299040,145.599000,657.845000,109.642000

In [84]:
nan_rows = sum(df.apply(lambda x: sum(x.isnull().values), axis = 1) > 0)
print(f'Number of rows containing NaN is {nan_rows}/{len(df)} or {nan_rows / len(df) * 100}%')
df.to_csv('dataset.csv', sep=',', encoding='utf-8', index=False)

Number of rows containing NaN is 3052/26305 or 11.602356966356206%