# Dataset preparation
Dataset source:
[link](https://www.eea.europa.eu/data-and-maps/data/aqereporting-9)

Dataset will combine data of PM10, PM2.5, CO and NO2 measurements in years 2018-2020 (measured in Bratislava, Slovakia).

In [109]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

Start by combining data of respective years and later appending them together into one csv file. First is data from 2018.

In [110]:
df_2018 = pd.read_csv('raw_data/2018/SK_5_27208_2018_timeseries_PM10.csv')
df_2018.head()

,Countrycode,Namespace,AirQualityNetwork,AirQualityStation,AirQualityStationEoICode,SamplingPoint,SamplingProcess,Sample,AirPollutant,AirPollutantCode,AveragingTime,Concentration,UnitOfMeasurement,DatetimeBegin,DatetimeEnd,Validity,Verification
0,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,38.942,µg/m3,2018-01-01 00:00:00 +01:00,2018-01-01 01:00:00 +01:00,1,1
1,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,52.889,µg/m3,2018-01-01 01:00:00 +01:00,2018-01-01 02:00:00 +01:00,1,1
2,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,37.007,µg/m3,2018-01-01 02:00:00 +01:00,2018-01-01 03:00:00 +01:00,1,1
3,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,35.837,µg/m3,2018-01-01 03:00:00 +01:00,2018-01-01 04:00:00 +01:00,1,1
4,SK,SK.SHMU.AQ,NET-SK001A,STA-SK0004A,SK0004A,SPO-SK0004A_00005_100,SPP-SK_A_TEOM_93102_SK0004A_00005_100_100,SPO_F-SK0004A_00005_100_100,PM10,http://dd.eionet.europa.eu/vocabulary/aq/pollu...,hour,34.408,µg/m3,2018-01-01 04:00:00 +01:00,2018-01-01 05:00:00 +01:00,1,1

In [111]:
df_2018.rename(columns={'Concentration': 'PM10 Concentration', 'UnitOfMeasurement': 'PM10 Unit'}, inplace=True)

In [112]:
df_pm2_5_2018 = pd.read_csv('raw_data/2018/SK_6001_35900_2018_timeseries_PM25.csv')
df_pm2_5_2018.rename(columns={'Concentration': 'PM2.5 Concentration', 'UnitOfMeasurement': 'PM2.5 Unit'}, inplace=True)
df_pm2_5_2018 = df_pm2_5_2018[['DatetimeBegin', 'DatetimeEnd', 'PM2.5 Concentration', 'PM2.5 Unit']]
df_2018 = pd.merge(df_2018, df_pm2_5_2018, how='outer')

In [113]:
df_co_2018 = pd.read_csv('raw_data/2018/SK_10_27210_2018_timeseries_CO.csv')
df_co_2018.rename(columns={'Concentration': 'CO Concentration', 'UnitOfMeasurement': 'CO Unit'}, inplace=True)
df_co_2018 = df_co_2018[['DatetimeBegin', 'DatetimeEnd', 'CO Concentration', 'CO Unit']]
df_2018 = pd.merge(df_2018, df_co_2018, how='outer')

In [114]:
df_no2_2018 = pd.read_csv('raw_data/2018/SK_8_27323_2018_timeseries_NO2.csv')
df_no2_2018.rename(columns={'Concentration': 'NO2 Concentration', 'UnitOfMeasurement': 'NO2 Unit'}, inplace=True)
df_no2_2018 = df_no2_2018[['DatetimeBegin', 'DatetimeEnd', 'NO2 Concentration', 'NO2 Unit']]
df_2018 = pd.merge(df_2018, df_no2_2018, how='outer')

In [115]:
df_2018.drop(columns=['Countrycode', 'Namespace', 'AirQualityNetwork', 'AirQualityStation', 'SamplingPoint', 'SamplingProcess', 'Sample', 'AveragingTime', 'AirPollutantCode', 'AirPollutant', 'AirQualityStationEoICode', 'Validity', 'Verification'], inplace=True)
df_2018

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit
0,38.942,µg/m3,2018-01-01 00:00:00 +01:00,2018-01-01 01:00:00 +01:00,46.409,µg/m3,0.46168,mg/m3,21.6056,µg/m3
1,52.889,µg/m3,2018-01-01 01:00:00 +01:00,2018-01-01 02:00:00 +01:00,53.467,µg/m3,0.43268,mg/m3,21.1869,µg/m3
2,37.007,µg/m3,2018-01-01 02:00:00 +01:00,2018-01-01 03:00:00 +01:00,37.668,µg/m3,0.39208,mg/m3,16.2845,µg/m3
3,35.837,µg/m3,2018-01-01 03:00:00 +01:00,2018-01-01 04:00:00 +01:00,37.333,µg/m3,0.38628,mg/m3,17.3246,µg/m3
4,34.408,µg/m3,2018-01-01 04:00:00 +01:00,2018-01-01 05:00:00 +01:00,29.130,µg/m3,0.36308,mg/m3,15.5656,µg/m3
...,...,...,...,...,...,...,...,...,...,...
8755,NaN,NaN,2018-02-23 22:00:00 +01:00,2018-02-23 23:00:00 +01:00,NaN,NaN,0.65656,mg/m3,41.8021,µg/m3
8756,NaN,NaN,2018-02-23 23:00:00 +01:00,2018-02-24 00:00:00 +01:00,NaN,NaN,0.58928,mg/m3,28.3970,µg/m3
8757,NaN,NaN,2018-02-24 00:00:00 +01:00,2018-02-24 01:00:00 +01:00,NaN,NaN,0.53476,mg/m3,24.3512,µg/m3
8758,NaN,NaN,2018-02-24 01:00:00 +01:00,2018-02-24 02:00:00 +01:00,NaN,NaN,0.53012,mg/m3,19.0626,µg/m3
8759,NaN,NaN,2018-02-24 02:00:00 +01:00,2018-02-24 03:00:00 +01:00,NaN,NaN,0.53708,mg/m3,18.0627,µg/m3

Next is combining data from year 2019.

In [116]:
df_2019 = pd.read_csv('raw_data/2019/SK_5_27294_2019_timeseries_PM10.csv')
df_2019.rename(columns={'Concentration': 'PM10 Concentration', 'UnitOfMeasurement': 'PM10 Unit'}, inplace=True)

In [117]:
df_pm2_5_2019 = pd.read_csv('raw_data/2019/SK_6001_35900_2019_timeseries_PM25.csv')
df_pm2_5_2019.rename(columns={'Concentration': 'PM2.5 Concentration', 'UnitOfMeasurement': 'PM2.5 Unit'}, inplace=True)
df_pm2_5_2019 = df_pm2_5_2019[['DatetimeBegin', 'DatetimeEnd', 'PM2.5 Concentration', 'PM2.5 Unit']]
df_2019 = pd.merge(df_2019, df_pm2_5_2019, how='outer')

In [118]:
df_co_2019 = pd.read_csv('raw_data/2019/SK_10_27210_2019_timeseries_CO.csv')
df_co_2019.rename(columns={'Concentration': 'CO Concentration', 'UnitOfMeasurement': 'CO Unit'}, inplace=True)
df_co_2019 = df_co_2019[['DatetimeBegin', 'DatetimeEnd', 'CO Concentration', 'CO Unit']]
df_2019 = pd.merge(df_2019, df_co_2019, how='outer')

In [119]:
df_no2_2019 = pd.read_csv('raw_data/2019/SK_8_27323_2019_timeseries_NO2.csv')
df_no2_2019.rename(columns={'Concentration': 'NO2 Concentration', 'UnitOfMeasurement': 'NO2 Unit'}, inplace=True)
df_no2_2019 = df_no2_2019[['DatetimeBegin', 'DatetimeEnd', 'NO2 Concentration', 'NO2 Unit']]
df_2019 = pd.merge(df_2019, df_no2_2019, how='outer')

In [120]:
df_2019.drop(columns=['Countrycode', 'Namespace', 'AirQualityNetwork', 'AirQualityStation', 'SamplingPoint', 'SamplingProcess', 'Sample', 'AveragingTime', 'AirPollutantCode', 'AirPollutant', 'AirQualityStationEoICode', 'Validity', 'Verification'], inplace=True)
df_2019

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit
0,116.610,µg/m3,2019-01-01 00:00:00 +01:00,2019-01-01 01:00:00 +01:00,106.190,µg/m3,0.374680,mg/m3,45.9664,µg/m3
1,126.730,µg/m3,2019-01-01 01:00:00 +01:00,2019-01-01 02:00:00 +01:00,108.090,µg/m3,0.406000,mg/m3,45.3469,µg/m3
2,54.715,µg/m3,2019-01-01 02:00:00 +01:00,2019-01-01 03:00:00 +01:00,45.893,µg/m3,0.450080,mg/m3,46.4387,µg/m3
3,40.223,µg/m3,2019-01-01 03:00:00 +01:00,2019-01-01 04:00:00 +01:00,37.377,µg/m3,0.481400,mg/m3,51.4309,µg/m3
4,33.288,µg/m3,2019-01-01 04:00:00 +01:00,2019-01-01 05:00:00 +01:00,27.394,µg/m3,0.488360,mg/m3,44.0487,µg/m3
...,...,...,...,...,...,...,...,...,...,...
8752,NaN,NaN,2019-12-11 16:00:00 +01:00,2019-12-11 17:00:00 +01:00,NaN,NaN,0.806233,mg/m3,106.5720,µg/m3
8753,NaN,NaN,2019-12-11 18:00:00 +01:00,2019-12-11 19:00:00 +01:00,NaN,NaN,0.905423,mg/m3,108.9710,µg/m3
8754,NaN,NaN,2019-12-08 22:00:00 +01:00,2019-12-08 23:00:00 +01:00,NaN,NaN,NaN,NaN,28.0949,µg/m3
8755,NaN,NaN,2019-12-10 00:00:00 +01:00,2019-12-10 01:00:00 +01:00,NaN,NaN,NaN,NaN,29.0318,µg/m3
8756,NaN,NaN,2019-12-11 02:00:00 +01:00,2019-12-11 03:00:00 +01:00,NaN,NaN,NaN,NaN,38.5257,µg/m3

Lastly we combine data from year 2020.

In [121]:
df_2020 = pd.read_csv('raw_data/2020/SK_5_27294_2020_timeseries_PM10_1.csv')
df_2020.rename(columns={'Concentration': 'PM10 Concentration', 'UnitOfMeasurement': 'PM10 Unit'}, inplace=True)

In [122]:
df_pm2_5_2020 = pd.read_csv('raw_data/2020/SK_6001_35900_2020_timeseries_PM25_1.csv')
df_pm2_5_2020.rename(columns={'Concentration': 'PM2.5 Concentration', 'UnitOfMeasurement': 'PM2.5 Unit'}, inplace=True)
df_pm2_5_2020 = df_pm2_5_2020[['DatetimeBegin', 'DatetimeEnd', 'PM2.5 Concentration', 'PM2.5 Unit']]
df_2020 = pd.merge(df_2020, df_pm2_5_2020, how='outer')

In [123]:
df_co_2020 = pd.read_csv('raw_data/2020/SK_10_27210_2020_timeseries_CO.csv')
df_co_2020.rename(columns={'Concentration': 'CO Concentration', 'UnitOfMeasurement': 'CO Unit'}, inplace=True)
df_co_2020 = df_co_2020[['DatetimeBegin', 'DatetimeEnd', 'CO Concentration', 'CO Unit']]
df_2020 = pd.merge(df_2020, df_co_2020, how='outer')

In [124]:
df_no2_2020 = pd.read_csv('raw_data/2020/SK_8_27303_2020_timeseries_NO2_1.csv')
df_no2_2020.rename(columns={'Concentration': 'NO2 Concentration', 'UnitOfMeasurement': 'NO2 Unit'}, inplace=True)
df_no2_2020 = df_no2_2020[['DatetimeBegin', 'NO2 Concentration', 'NO2 Unit']]
df_2020 = pd.merge(df_2020, df_no2_2020, how='outer')

In [125]:
df_2020.drop(columns=['Countrycode', 'Namespace', 'AirQualityNetwork', 'AirQualityStation', 'SamplingPoint', 'SamplingProcess', 'Sample', 'AveragingTime', 'AirPollutantCode', 'AirPollutant', 'AirQualityStationEoICode', 'Validity', 'Verification'], inplace=True)
df_2020

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit
0,16.070,µg/m3,2020-01-01 00:00:00 +01:00,2020-01-01 01:00:00 +01:00,14.328,µg/m3,0.238960,mg/m3,23.45640,µg/m3
1,120.150,µg/m3,2020-01-01 01:00:00 +01:00,2020-01-01 02:00:00 +01:00,118.520,µg/m3,0.231304,mg/m3,23.44110,µg/m3
2,52.513,µg/m3,2020-01-01 02:00:00 +01:00,2020-01-01 03:00:00 +01:00,45.789,µg/m3,0.250328,mg/m3,27.07770,µg/m3
3,40.058,µg/m3,2020-01-01 03:00:00 +01:00,2020-01-01 04:00:00 +01:00,38.463,µg/m3,0.259724,mg/m3,30.76600,µg/m3
4,26.224,µg/m3,2020-01-01 04:00:00 +01:00,2020-01-01 05:00:00 +01:00,18.477,µg/m3,0.256708,mg/m3,17.04180,µg/m3
...,...,...,...,...,...,...,...,...,...,...
8776,NaN,NaN,2020-12-17 14:00:00 +01:00,2020-12-17 15:00:00 +01:00,NaN,NaN,0.484880,mg/m3,NaN,NaN
8777,NaN,NaN,2020-12-23 13:00:00 +01:00,2020-12-23 14:00:00 +01:00,NaN,NaN,0.938788,mg/m3,NaN,NaN
8778,NaN,NaN,2020-10-04 11:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,3.39476,µg/m3
8779,NaN,NaN,2020-10-19 15:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,21.31880,µg/m3
8780,NaN,NaN,2020-10-20 17:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,8.67226,µg/m3

In [126]:
df_2020[df_2020.isna().any(axis=1)]

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit
6,18.454,µg/m3,2020-01-01 06:00:00 +01:00,2020-01-01 07:00:00 +01:00,12.475,µg/m3,0.243600,mg/m3,NaN,NaN
18,25.368,µg/m3,2020-01-01 18:00:00 +01:00,2020-01-01 19:00:00 +01:00,19.686,µg/m3,NaN,NaN,30.65510,µg/m3
31,26.992,µg/m3,2020-01-02 07:00:00 +01:00,2020-01-02 08:00:00 +01:00,26.924,µg/m3,0.531280,mg/m3,NaN,NaN
44,44.594,µg/m3,2020-01-02 20:00:00 +01:00,2020-01-02 21:00:00 +01:00,40.195,µg/m3,NaN,NaN,31.29180,µg/m3
56,37.359,µg/m3,2020-01-03 08:00:00 +01:00,2020-01-03 09:00:00 +01:00,37.120,µg/m3,0.562252,mg/m3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8776,NaN,NaN,2020-12-17 14:00:00 +01:00,2020-12-17 15:00:00 +01:00,NaN,NaN,0.484880,mg/m3,NaN,NaN
8777,NaN,NaN,2020-12-23 13:00:00 +01:00,2020-12-23 14:00:00 +01:00,NaN,NaN,0.938788,mg/m3,NaN,NaN
8778,NaN,NaN,2020-10-04 11:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,3.39476,µg/m3
8779,NaN,NaN,2020-10-19 15:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,21.31880,µg/m3
8780,NaN,NaN,2020-10-20 17:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,8.67226,µg/m3

Next is combinatin of the three

In [127]:
df = pd.merge(df_2018, df_2019, how='outer')
df = pd.merge(df, df_2020, how='outer')
df

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit
0,38.942,µg/m3,2018-01-01 00:00:00 +01:00,2018-01-01 01:00:00 +01:00,46.409,µg/m3,0.461680,mg/m3,21.60560,µg/m3
1,52.889,µg/m3,2018-01-01 01:00:00 +01:00,2018-01-01 02:00:00 +01:00,53.467,µg/m3,0.432680,mg/m3,21.18690,µg/m3
2,37.007,µg/m3,2018-01-01 02:00:00 +01:00,2018-01-01 03:00:00 +01:00,37.668,µg/m3,0.392080,mg/m3,16.28450,µg/m3
3,35.837,µg/m3,2018-01-01 03:00:00 +01:00,2018-01-01 04:00:00 +01:00,37.333,µg/m3,0.386280,mg/m3,17.32460,µg/m3
4,34.408,µg/m3,2018-01-01 04:00:00 +01:00,2018-01-01 05:00:00 +01:00,29.130,µg/m3,0.363080,mg/m3,15.56560,µg/m3
...,...,...,...,...,...,...,...,...,...,...
26293,NaN,NaN,2020-12-17 14:00:00 +01:00,2020-12-17 15:00:00 +01:00,NaN,NaN,0.484880,mg/m3,NaN,NaN
26294,NaN,NaN,2020-12-23 13:00:00 +01:00,2020-12-23 14:00:00 +01:00,NaN,NaN,0.938788,mg/m3,NaN,NaN
26295,NaN,NaN,2020-10-04 11:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,3.39476,µg/m3
26296,NaN,NaN,2020-10-19 15:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,21.31880,µg/m3
26297,NaN,NaN,2020-10-20 17:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,8.67226,µg/m3

In [128]:
df.sort_values('DatetimeBegin', ascending=True)
df

,PM10 Concentration,PM10 Unit,DatetimeBegin,DatetimeEnd,PM2.5 Concentration,PM2.5 Unit,CO Concentration,CO Unit,NO2 Concentration,NO2 Unit
0,38.942,µg/m3,2018-01-01 00:00:00 +01:00,2018-01-01 01:00:00 +01:00,46.409,µg/m3,0.461680,mg/m3,21.60560,µg/m3
1,52.889,µg/m3,2018-01-01 01:00:00 +01:00,2018-01-01 02:00:00 +01:00,53.467,µg/m3,0.432680,mg/m3,21.18690,µg/m3
2,37.007,µg/m3,2018-01-01 02:00:00 +01:00,2018-01-01 03:00:00 +01:00,37.668,µg/m3,0.392080,mg/m3,16.28450,µg/m3
3,35.837,µg/m3,2018-01-01 03:00:00 +01:00,2018-01-01 04:00:00 +01:00,37.333,µg/m3,0.386280,mg/m3,17.32460,µg/m3
4,34.408,µg/m3,2018-01-01 04:00:00 +01:00,2018-01-01 05:00:00 +01:00,29.130,µg/m3,0.363080,mg/m3,15.56560,µg/m3
...,...,...,...,...,...,...,...,...,...,...
26293,NaN,NaN,2020-12-17 14:00:00 +01:00,2020-12-17 15:00:00 +01:00,NaN,NaN,0.484880,mg/m3,NaN,NaN
26294,NaN,NaN,2020-12-23 13:00:00 +01:00,2020-12-23 14:00:00 +01:00,NaN,NaN,0.938788,mg/m3,NaN,NaN
26295,NaN,NaN,2020-10-04 11:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,3.39476,µg/m3
26296,NaN,NaN,2020-10-19 15:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,21.31880,µg/m3
26297,NaN,NaN,2020-10-20 17:00:00 +01:00,NaN,NaN,NaN,NaN,NaN,8.67226,µg/m3

In [129]:
nan_rows = sum(df.apply(lambda x: sum(x.isnull().values), axis = 1) > 0)
print(f'Number of rows containing NaN is {nan_rows}/{len(df)} or {nan_rows / len(df) * 100}%')
df.to_csv('dataset.csv', sep=',', encoding='utf-8')

Number of rows containing NaN is 1752/26298 or 6.662103582021446%